@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
  color: #eeebeb;
}
.minibody{
  width: 100vw;
}
.divv{
  padding: 20px;
  margin: 3px;
}
#header2 .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  position: relative;
    display: flex;
    align-items: center;
    padding: 8px 35px 8px 20px;
    cursor: pointer;
}
option,label{
  color: #000;
}
body {
  background: linear-gradient(150deg, rgb(11, 12, 19) 0%, #987 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  display: flex;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 200;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 10px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}

/* sideBar.js */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  /* width: 160px;  */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
#header2 .pro-sidebar-inner {
  background-color: transparent;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
/* guiyeucaau.js */
.box2 {
  text-align: left;
  border: rgb(255, 255, 255) ridge 3px;
  border-radius: 10px;
  margin: 3px;
  padding: 30px;
}
/* canBo.js */
.box-width-1 {
  width: 50rem;
}
/* đoimatkhau.js */
.box-width-2 {
  width: 25rem;
}
.box-width-3 {
  width: 15rem;
}
/* home.js */
.date {
  display: block;
  font-size: 0.8rem;
  height: 1;
  margin: 0 0 1rem 0;
  position: relative;
}

.date:before, .date:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: calc(50% - 6rem);
  border-top: solid 2px;
}

.date:before {
  left: 0;
}

.date:after {
  right: 0;
} 

.lienket{       
  background-color: rgb(105, 83, 83);
  color: black;
  border: 2px solid #73AD21;
  border-radius:10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Lucida Sans Unicode";
}
.lienket:hover {
  background-color: rgb(236, 56, 56);
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}
.scroll-container {
  scroll-behavior: smooth;
}
/* canBo.js */
.mauDen .modal-content{
  background-color: #000;
  color: #fff;
}
/* đặt lịch */
.form-floating>.form-control, .form-floating>.form-select {
  height: calc(4rem + 2px);
}
/* navbar */
.popover{
  max-width: 400px;
}